.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    border: 1px solid black;
    padding: 32px;
    margin: 24px;
    max-width: 850px;
    font-weight: bold;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgDiv{
    border: 1px solid rgba(255, 0, 0, 0.414);
    height: min-content;
    padding: 1px;
}